body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .date-utile{
    justify-content: space-around;
  }

  .date-utile-box{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
  }

  .date-utile-box i{
    font-size: 35px;
  }


  .feed_title{
    text-decoration: none !important;
    font-size:1.5em;
  }

  .post-content{
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .gauge-container {
    width: auto;
    height: auto;
    display: block;
    /* float: left; */
    padding: 10px;
    overflow: hidden;
  }

  .gauge-container.two {
    height: auto;
    border: 1px solid rgba(255,255,255,0.1);
  }
  .gauge-container.two > .gauge > .dial {
    stroke: #334455;
    stroke-width: 10;
  }
  .gauge-container.two > .gauge > .value {
    /*stroke: orange;*/
    stroke-dasharray: none;
    stroke-width: 13;
  }
  .gauge-container.two > .gauge > .value {
    fill: orange;
  }

  .player{
    /* border: 1px solid red; */
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  .player .avatar{
    width:250px;
    height: 250px;
    border:1px solid green;
    margin-right:50px;
    background-image: url('../pic/avatar.JPEG');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  
  .ui.progress .bar{
    width:65% !important;
    min-width:65% !important;
  }

  .player .xp{
    width:500px;
  }

  .player .achievements{
    width: 300px;
  }

  .player .achievements i.icon, i.icons {
    font-size: 7em !important;
  }